:root { --light-gray:#f4f4f4; 

}

body{
	font-family: Verdana;
	background-color:var(--light-gray);
}

.my-form{
	background-color:#ccc; 
	margin:20px;
}

.form-group label{
	display:block;
	padding:6px;
}

.form-group input,textarea{
	padding:6px;
	width:100%;
	box-sizing : border-box;
}